body {
    background: url('./img/background.png');
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

#content {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    width: clamp(400px, 70vw, 900px);
    height: 70vh;
}